<style type="text/css">
ul { padding:4px }
ul li { background:#f9f9f9;font-size:10px;text-align:left;width:130px;margin:2px 1px;vertical-align:top;padding:2px }
ul div { float:right;display:inline-block; }
ul label { clear:both;display:inline-block;font-weight:normal;letter-spacing:-0.4px;margin-bottom:1px; }
.success { background:#dff0d8; }
.info { background:#fcf8e3; }
time { font-size:9px;color:black;float:left;padding:1px 2px }
var { font-size:9px;color:black;float:right;padding:1px 2px;margin:0;max-width:80px;width:inherit; }
b { font-family:courier }
i { color:gray;padding-left:1px }
i span { padding:1px 3px; }
</style>


{{#with r.stats}}
<h3>Comms {{comm}}, Users: {{users}}, CT: {{ct}} </h3>
{{/with}}

{{#with r.comms.post_notify}}
<h2>Post notify ({{this.length}})</h2>
<ul>
{{#each this}}
  <li><time>{{day}}</time><var>{{place}}</var>
{{#if retry}}<label class="label label-danger">{{{ JSON retry }}} retry</label>{{/if}}
{{#each sent}}<section{{#if ct}} class="success"{{/if}}><var>{{{open}}}{{{ct}}}</var><label>{{{to}}}</label></section>{{/each}}
  </li>
{{/each}}
</ul>
{{/with}}


{{#with r.comms.user_welcome}}
<h2>User welcome ({{this.length}})</h2>
<ul>
{{#each this}}
  <li{{#if css}} class="{{css}}"{{/if}}><time>{{day}}</time>
{{#if retry}}<label class="label label-danger">{{{ JSON retry }}} retry</label>{{/if}}
{{#each sent}}<div>{{{open}}} {{{ct}}}</div><label>{{{to}}}</label>{{/each}}
  </li>
{{/each}}
</ul>
{{/with}}


{{#with r.comms.chat_message}}
<h2>Chat message ({{this.length}})</h2>
<ul>
{{#each this}}
  <li{{#if css}} class="{{css}}"{{/if}}><time>{{day}}</time>
{{#if retry}}<label class="label label-danger">{{{ JSON retry }}} retry</label>{{/if}}
{{#each sent}}<div>{{{open}}} {{{ct}}}</div><label>{{{to}}}</label>{{/each}}
  </li>
{{/each}}
</ul>
{{/with}}



