<div id="settings" class="container">
  <a href="/" title="Find rock climbing partners" target="_self" class="header"><i></i><span><b>Climb</b>find</span></a>

  <div id="notify">

  <img class="usr" src="{{r.me.avatar}}" />
<h4>Notifications</h4>

<ul>
{{!--   <li>{{#with r.settings.notify.messages}}
    <img src="/climb-partner-96.png" class="cf-ico" />
    <h4>Messages</h4>
    <div>Instant</div>
    <i class="glyphicon glyphicon-envelope {{email}}" aria-hidden="true"></i>
    <i class="glyphicon glyphicon-phone {{push}}" aria-hidden="true"></i>
    {{/with}}
  </li>--}}
{{#each r.subscriptions}}
  <li>
    <a href="/notifications/{{_id}}">
      <img src="{{place.avatar}}" />
      <h4>{{place.shortName}}</h4>
      <div><label class="label label-{{beat}}">{{beat}}</label></div>
      <i class="glyphicon glyphicon-phone {{push}}" aria-hidden="true"></i><i class="glyphicon glyphicon-envelope {{email}}" aria-hidden="true"></i><i class="ion-social-facebook off" aria-hidden="true"></i>
    </a>
  </li>
{{/each}}
</ul>
{{#if r.subscriptions}}{{else}}
<p>Notification settings for the places you've posted to, will appear here.
</p>
<p>Post a <a href="/partner-call"><b>partner call</b></a> to get started.</p>
{{/if}}
  </div>

  <div id="feed">

{{#if r.subscriptions}}
  <h4>Posts by you</h4>
  <ul id="myposts">
{{#each r.posts}}
    <li>
      <h4>{{ date this }} @ {{place.name}}</h4>
      <div>{{{markup message}}}</div>
      {{#if place.logo}}<img class="place" src="{{place.logo}}" alt="{{place.name}}" />{{/if}}
    </li>
{{/each}}
  </ul>
{{/if}}
  </div>


</div>


{{!-- <h2>Account</h2>

<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Pic</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="url3" placeholder="url">
    </div>
  </div>
</form>
 --}}
