<div class="inbox container">

{{#if r.empty}}
  <br />
  <p>No messages yet</p>
  <a class="btn" href="/partner-call">Post a partner call</a>
  <p>or reply to a post...</p>  
{{else}}
  <ul id="inbox">
{{#each r}}
  <li{{#if unread}} class="unread"{{/if}}>
    <a href="/messages/{{_id}}">{{#each with}}<img class="media-object" src="{{avatar}}" alt="{{name}}" />{{/each}}<time>{{ ago last._id }}</time><div><h4>{{ title }}</h4>{{ markup last.text }}</div></a></li>{{/each}}</ul>
{{/if}}
</div>