<!DOCTYPE html>
<html>
<head>
  <title>Climbfind climbing partner community</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="{{#if noindex }}no{{/if}}index, nofollow">
  <meta name="robots" content="index, nofollow">
  <meta property="og:locale" content="en_US"/>{{#if htmlHead}}{{#with htmlHead}}{{#if ogType }}<meta property="og:type" content="{{ogType}}"/>{{/if}}{{#if ogTitle }}<meta property="og:title" content="{{ogTitle}}"/>{{/if}}{{#if ogDescription }}<meta property="og:description" content="{{ogDescription}}"/>{{/if}}{{#if ogImage }}<meta property="og:image" content="{{ogImage}}"/>{{/if}}{{#if ogUrl }}<meta property="og:url" content="{{ogUrl}}"/>{{/if}}{{#if canonical }}
  <link rel="canonical" href="{{ canonical }}" />{{/if}}{{/with}}{{/if}}
  <link rel="stylesheet" href="/libs.css" />
  <link rel="stylesheet" href="/lib.css" />  
  <link rel="stylesheet" href="/app2.css" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <base href="/" />
</head>
<body>

  <header>
    <a href="/" tile="Find rock climbing partners" target="_self"><i></i><span><b>Climb</b>find</span></a>
  </header>

  {{{body}}}

{{#if authenticated}}
    <footer>
      <ul>
        <li><a id="f-home" class="ion-ios-list" href="/" target="_self"></a></li><li><a id="f-inbox" class="ion-chatboxes" href="/messages" target="_self"></a></li><li><a id="f-post" class="ion-compose" href="/partner-call" target="_self"></a></li><li><a id="f-love" class="ion-heart" href="/love" target="_self"></a></li><li><a id="f-account" class="ion-person" href="/account" target="_self"></a></li>
      </ul>
    </footer>
    <script type="text/javascript"> 
      if (document.getElementById('f-{{view}}'))
        document.getElementById('f-{{view}}').className += " active";      

      if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
          window.history.pushState("", document.title, window.location.pathname+window.location.search);
        } else {
          var scroll = { top: document.body.scrollTop, left: document.body.scrollLeft };
          window.location.hash = '';
          document.body.scrollTop = scroll.top;
          document.body.scrollLeft = scroll.left;
        }
      }
    </script>
{{/if}}
{{#if @analytics }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{@analytics.ga.web}}', 'auto');
  ga('send', 'pageview');
</script>

{{/if}}



</body>
</html>