<!DOCTYPE html>
<html>
<head>
  <title>Climbfind mod</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/libs.css" />
  <link rel="stylesheet" href="/lib.css" />  
  <style type="text/css">
    .container { padding:15px;margin-top:-30px }
    h2 { font-size:14px;font-weight:bold }
    h3 { font-size:16px;color:black;width:640px;border-bottom:solid 1px #d3d3d3; padding:4px 0;margin:3px 0}
    h4 { font-family:courier;padding:3px 0 3px 0;margin:0 }
    h5 { padding:1px;margin:1px; }
    h6 { padding:1px 1px 1px 56px;margin:1px; }    
    var { display:inline-block;color:black;font-style:normal;width:40px;text-align:right;margin-right:14px }
    code { display:inline-block;color:green;min-width:70px }
    dfn { display:inline-block;color:blue;min-width:60px;font-style:normal; }
    hr { padding:2px;margin:0;max-width:640px }
  </style>
  <base href="/" />
</head>
<body>

<div class="container">
  <h2 style="">Goals</h2>
  <h3>JK /Personal - finds partners</h3>
{{#each r.jk}}
  <h5><var>{{posts.length}}</var><dfn>{{shortName}}</dfn></h5>
  {{#each posts}}  
  <h6><time>{{create}}</time>{{place}}<var>{{view}}/{{reply}}</var> <code>view/reply</code></h6>
  {{/each}}
{{/each}}
  <h3>Liquidity</h3>
  <h4><var>15</var><code>post</code>/ <dfn>gym</dfn></h4>  
  <h4><var>100</var><code>notify</code>/ <dfn>post</dfn></h4>
  <h4><var>10</var><code>view</code>/ <dfn>post</dfn></h4>
  <h4><var>2</var><code>reply</code>/ <dfn>post</dfn></h4>
  <hr />
{{#each r.places}}
  <h5><var>{{posts.length}}</var><dfn>{{shortName}}</dfn></h5>
  {{#each posts}}
  <h6><time>{{create}}</time> <var>{{notify}} / {{view}} / {{reply}}</var> <code>notify/view/reply</code></h6>
  {{/each}}
{{/each}}
  <h3>Conversion</h3>
  <h4><var>10%</var><dfn>visit</dfn>=><code>login</code>conversion </h4>
  <h5><var>{{r.visits.total}} {{r.visits.bounce}}/{{r.visits.login}}</var><dfn>visit</dfn>=> <code>bounce/login</code></h5>    
  <h5><var>{{r.visits.coversion}}%</var>conversion</h5>      
  <h4><var>10%</var><dfn>users</dfn>=><code> messaging</code> / week </h4>  
  <h5><var>{{r.users.total}}/{{r.users.messaged}}</var><dfn>users</dfn> <code>messaged</code></h5>  
</div>


</body>
</html>